body {
    /* display: flex; */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }

@media (max-width: 1100px) {
    /* 屏幕宽度小于等于768px时应用的样式 */
    body {
        font-size: 48x;
    }
    .content {
        width: 100%;
        margin: 0 auto;
        font-size: 48px;
    }

    .book-description {
        font-size: 48px;
    }

    h1 {
        font-size: 48px !important;
    }
}

table {
    width: 400px;
    /* border: 2px solid #000; */
}

.table-row {
    border-bottom: 1px solid #ddd;
    height: 50px;
}

h1 {
    background-color: #f0f0f0;  /* Change this to the color you want */
    padding:20px 0;
    margin:0;
}

.my-5 {
    margin:0 !important;
}

.my-2 {
    width: 30px;
}

.author {
    color:gray; 
    font-size:small;
    text-align: center;
    border-bottom: 1px dotted #ddd;
    padding: 4px;
}

.book-description {
    margin: 0 auto;
    padding: 20px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    background-color: #6c90a5; /* 设置背景颜色为浅蓝色 */
    color: #fff; /* 设置文字颜色为白色 */
    border: none; /* 去除边框 */
    padding: 10px 20px; /* 设置内边距 */
    font-size: 16px; /* 设置字体大小 */
    border-radius: 5px; /* 设置边框圆角 */
    cursor: pointer; /* 设置鼠标指针样式为手型 */
  }
  
  .button:hover {
    background-color: #4a6a85; /* 鼠标悬停时改变背景颜色为深蓝色 */
  }

.nav {
    margin: 20px;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

.p {
    margin-bottom: 20px;
  }
